/*====Layout====*/
h1, h2, h3, h4, h5, h6, #top .title_container .main-title, tr.pricing-row td, #top .portfolio-title, .callout .content-area, .avia-big-box .avia-innerbox, .av-special-font, .av-current-sort-title, .html_elegant-blog #top .minor-meta {
    font-family: 'IBM Plex Sans', sans-serif !important;
}

body {
    font-family: 'IBM Plex Sans', sans-serif !important;
}
.html{
	font-family: 'IBM Plex Sans', sans-serif;
}
body{
	overscroll-behavior:contain;
	overscroll-behavior-y: none;
 	font-family: 'IBM Plex Sans', sans-serif !important;
}
.html{
	font-family: "IBM Plex Sans Text";
}
.body{
		font-family: "IBM Plex Sans Text";
}

/**Nav**/
#signature {
	width: 60px;
	float: left;
	padding-top:25px;
}
#name {

	margin-top: 25px;
	list-style: none;
	font-size: .80em;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#name a{
	text-decoration: none;
	color: dimgray;
}
#name li{
	 padding-right: 20px;
}

.brand {
	padding-top: 5px;
	width:100%;
	z-index: 1;
}
.mobileNavText{
	color: dimgray;
	font-size:8px;
	text-align: center;
	padding-top: 2px;
}
.mobileNavTextActive{
	font-size:8px;
	text-align: center;
	padding-top: 2px;
}
.topNav{
	list-style: none;
	display: table;
	margin-right:auto;
	margin-left:auto;
	padding: 0px;
}
.topNav li{
	text-align: center;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
}
#NavBar{
	float:right;
}
.dropbtn2 {
  background-color: none;
  color: white;
  border: none;
}

.dropdown2 {
  display: inline-block;
}

.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  font-size: 16px;
}

.dropP{
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
	color: black;
	text-align: center;
	margin-bottom: 5px;
	border-bottom: double 1px  #C4960B;
}
.dropdown2-content a {
  color: dimgray;
  text-decoration: none;
  display: block;
	margin-top: 6px;
	margin-left: 10px;
	margin-right:10px;

}
.activeMenuItem {
	border-bottom: 2px solid #C4960B;
}

.dropdown2-content a:hover {
color:#C4960B; }

.dropdown2:hover .dropdown2-content {display: block;
color:#C4960B;}

.dropdown2:hover .dropbtn2 {transform: rotate(
90deg);
transition-duration: .35s;
color:#C4960B;}
.dropdown {
  position: relative;
  display: inline-block;
}
/*button style*/
.dropbtn{
	background-color:none;
	border:none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*====MobileMenu=====*/
#buttonNav {
	bottom: 0;
	border-top: 1px solid #eae7e2;
	background-color: #f8f7f4;
	height: 53px;
	text-align: center;
	width: 100%;
	position: fixed;
	transition: bottom 1s;	
}
#buttonNav ul {
	list-style: none;
	display: table;
	margin-right:auto;
	margin-left:auto;
	padding: 0px;
}
#buttonNav li{
	text-align: center;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
		
}
.Icons {
	width: 32px;
	margin-top:5px;
}
/***Footer****/
.footer {
	background-color: gray;
	height: 130px;
	bottom: 100%;
	
}
.footerCopyright {
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size:.75rem;
	color: white;
	padding-top: 50px;
}

/*=========================Page Formating=======================*/

body{
	overscroll-behavior:contain;
	overscroll-behavior-y: none;
}
p{
	font-family: "IBM Plex Sans Text" !important;
}
.section{
background-color: white;
width: 100%;
overflow: hidden;
padding-top:65px;
text-align: center;
}
.contentContainer {
	margin-left: 5%;
	margin-right: 5%;
}
.subCategory {
	text-align: left;
	margin-bottom: 35px;
	margin-top:25px;
	overflow: hidden;
}
.intro{
	margin-top:100px;
}

/*==========Headers and Titles================*/
h2 {
	color: black;
}
h1 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}
.overviewHeaders {

	font-weight: bold;
    font-size: .8rem;
    text-align: left;
    padding-bottom: 0px;
}
.subHeader {
	text-align: left;
	margin-bottom: 25px;
	margin-top: 15px;
}
.overViewHeader{
	padding-bottom: 50px;
}
.adminListContainer{margin-bottom:
25px; float: left;}
/*============ Text Formatting==============*/
.contentTextDiv {
	padding: 20px;
	line-height: 2rem;
	text-align: left;
	text-indent: 10px;
}
.introHook {
	line-height: 3.5rem;
	text-align: center;
	text-indent: 0;
	margin-bottom: 30px;
	color: dimgray;
	vertical-align: middle;
}
.overviewText {
	margin-left: 25px;
	font-size: .75rem;
	width: 50%;

}
figcaption {
	font-size: .85rem;
	padding-top: 10px;
	margin: 10px;
	line-height: 1rem;
	font-style: italic;
	text-align: center;
}
.teamNames {
	text-align: left;
    font-size: .75rem;
    margin-bottom: 4px;
}

.undergradNames {
	text-align: left;
	font-size: .75rem;
	margin-left: 25px;
    width: 90%;
}
.challengeList {
	text-align: left;
	margin:auto;
	font-family: "IBM Plex Sans Text";
}
.adminNamesList {
list-style: none;
	font-family:'IBM Plex Sans Text';
	padding: 0px;
	margin-left: 25px;
	width: 200px;
}
/****Section Formatting******/
.intro {
	padding-top: 70px;
	text-align: center;
	padding-bottom: 100px;
}
.overviewContentDivs {
	margin: auto;
	font-size: 1rem;
	text-align: left;
	margin-left: 25px;
	clear: left;
}
.TakeAway{
	margin-bottom: 150px;
}
/*======Project Images========*/
.rightImage {

	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.leftImage {
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.centerImage {
	text-align: center;
	float: none;
	padding-top: 25px;
	padding-bottom: 25px;
}
#carLogo {
	width: 70%;
	padding-bottom: 30px;
}
#CriticalFactors{
	width: 100%;
}
#CarTree{
	width: 100%;
}
#MenInAV{
	width: 100%;
}
#IdeationSession{
	width: 100%;
}
#AffinityDiagram{
	width: 80%;
}

#DataSummary{
	width: 100%;
}
#ObservationSynthesis{
	width: 100%;
}
#BrainstormSketch{
		width: 100%;
}
#Persona{
border: 2px solid black;
		width: 100%;
}
#AdrianBrandon{
		width: 100%;
}
#PrototypeSketch{
		width: 100%;
}
#WizardofOZ{
		width: 80%;
}
/*==========animations==========*/
button:focus,button:active {
   outline: none !important;
   box-shadow: none;
}
.invis {
	-webkit-animation:fade-in 3s infinite alternate;
}
@-webkit-keyframes fade-in{
from{
    opacity:0;
}
to{
    opacity:1;
}
}
/**Page breaks***/
@media all 
  and (min-device-width: 1281px) { 
		#name li{
			display: inline;
		}
	  body{font-size: 20px;}
		#buttonNav{
			 display:none;
		}
		.menuItem{
			float: right;
		}
	  
		.projectsHeader {
			 text-align: center;
		   font-size: 2.75rem;
			line-height: 2rem;
			text-indent: 0;
			font-weight: bold;
			color: #151515;
			padding-top:15px;
			  }
		#name{
			text-align: left;
			font-size: 1.5em;
			margin-top: 0px;
			padding-left: 200px;

		}
		.brand{
			padding-left: 5%;
			padding-right: 5%;
				position: fixed;
			top:0;
    background-color: white;
    height: 100px;
			padding-top:35px;
		}
		#signature{
			width: 100px;
			padding-top:0px;
			margin-top:0px;
		}

	  .dropdown2-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  font-size: 1em;
}
	  .Icons{
		  width:50px;
	  }
	  .projectsHeader{
		margin-bottom: 50px;
	}
	.leftImage{
		float:left;
		width: 45%;
	}	
	.rightImage{
		float:right;
		width: 45%;
	}	
	.centerImage{
		width: 85%;
		text-align: center;
		margin: auto;
	}
	#JapaneseTrain{
		width: 55%;
	}
	#ObservationSynthesis{
		width: 85%;
		margin-top:25px;
	}
	  .intro{
		  margin-bottom:175px;
		  padding-top: 150px;
	  }
	#carLogo{
		width: 40%;
		float: right;
	}
	.introHook{
		margin-top: 60px;
		
	}
	.contentContainer{
		margin-left:15%;
		margin-right:15%;
	}
		
	.overviewHeaders{
		display: inline-flex;
		width: 100px;
	}
	.overviewText{
		display: inline-flex;
		margin-left:200px;
		clear: both;
		text-align: left;
	}
	.adminListContainer{
		float: none;
		display: inline-flex;
		margin-left: 200px;
	}
	.adminNamesList{
		margin-left:0px;
		
	}
	.undergradNames{
		display:inline-flex;
		margin-left: 200px;
		width: 50%;
		
	}
	.leftText{
		float: left;
		width: 50%;
	}	
	.rightText{
		float: right;
		width: 50%;
	}
	.rightImage{
		width: 45%;
	}
	#CriticalFactors{
		margin-top:70px;
	}
	#BrainstormSketch{
		width:80%;
		margin-top:45px;
	}
	#AdrianBrandon{width: 55%;}
}
/*desktop*/

@media all and (min-width: 1025px) and (max-width: 1280px) {
	.projectsHeader{
		margin-bottom: 25px;
	}
	.leftImage{
		float:left;
		width: 45%;
	}	
	.rightImage{
		float:right;
		width: 45%;
	}	
	.centerImage{
		width: 85%;
		text-align: center;
		margin: auto;
	}
	#JapaneseTrain{
		width: 55%;
	}
	#ObservationSynthesis{
		width: 85%;
		margin-top:25px;
	}
		#name li{
			display: inline;
		}
		#buttonNav{
			 display:none;
		}

		.menuItem{
			float: right;

		}
		.introLinks{
			margin-top: 40px;

		}
		.container{
			margin-bottom: 0px;
			max-width: 100%;
		}
		#name{
			text-align: left;
			font-size: 1.5em;
			margin-top: 35px;
			padding-left: 200px;

		}
	#carLogo{
		width: 40%;
		float: right;
	}
	.introHook{
		margin-top: 60px;
		
	}
	.intro{
		margin-bottom: 100px;
	}
	.contentContainer{
		margin-left:15%;
		margin-right:15%;
	}
		.brand{
			padding-left: 5%;
			padding-right: 5%;
			position: fixed;
  			top: 0;
    		background-color: white;
   			height: 100px;
		}
		#signature{
			width: 100px;
		}
		.uxProjects{
			display: none;
	}
	.overviewHeaders{
		display: inline-flex;
		width: 100px;
	}
	.overviewText{
		display: inline-flex;
		margin-left:100px;
		clear: both;
		text-align: left;
	}
	.adminListContainer{
		float: none;
		display: inline-flex;
		margin-left: 100px;
	}
	.adminNamesList{
		margin-left:0px;
		
	}
	.undergradNames{
		display:inline-flex;
		margin-left: 100px;
		width: 50%;
		
	}
	.leftText{
		float: left;
		width: 50%;
	}	
	.rightText{
		float: right;
		width: 50%;
	}
	.rightImage{
		width: 45%;
	}
	#CriticalFactors{
		margin-top:70px;
	}
	#BrainstormSketch{
		width:80%;
		margin-top:45px;
	}
	#AdrianBrandon{width: 55%;}
}
 /*iPad*/
@media all and (min-width: 769px) and (max-width: 1024px) {
	
	.projectsHeader{
		margin-bottom: 25px;
	}
	.leftImage{
		float:left;
		width: 45%;
	}	
	.rightImage{
		float:right;
		width: 45%;
	}	
	.centerImage{
		width: 85%;
		text-align: center;
		margin: auto;
	}
	#JapaneseTrain{
		width: 55%;
	}
	#ObservationSynthesis{
		width: 85%;
		margin-top:25px;
	}
		#name li{
			display: inline;
		}
		#buttonNav{
			 display:none;
		}

		.menuItem{
			float: right;

		}
		.introLinks{
			margin-top: 40px;

		}
		.container{
			margin-bottom: 0px;
			max-width: 100%;
		}
		#name{
			text-align: left;
			font-size: 1.5em;
			margin-top: 35px;
			padding-left: 200px;

		}
	#carLogo{
		width: 40%;
		float: right;
	}
	.introHook{
		margin-top: 60px;
		
	}
	.intro{
		margin-bottom: 100px;
	}
	.contentContainer{
		margin-left:15%;
		margin-right:15%;
	}
		.brand{
			padding-left: 5%;
			padding-right: 5%;
			position: fixed;
  			top: 0;
    		background-color: white;
   			height: 100px;
		}
		#signature{
			width: 100px;
		}
		.uxProjects{
			display: none;
	}
	.overviewHeaders{
		display: inline-flex;
		width: 100px;
	}
	.overviewText{
		display: inline-flex;
		margin-left:100px;
		clear: both;
		text-align: left;
	}
	.adminListContainer{
		float: none;
		display: inline-flex;
		margin-left: 100px;
	}
	.adminNamesList{
		margin-left:0px;
		
	}
	.undergradNames{
		display:inline-flex;
		margin-left: 100px;
		width: 50%;
		
	}
	.leftText{
		float: left;
		width: 50%;
	}	
	.rightText{
		float: right;
		width: 50%;
	}
	.rightImage{
		width: 45%;
	}
	#CriticalFactors{
		margin-top:70px;
	}
	#BrainstormSketch{
		width:80%;
		margin-top:45px;
	}
	#AdrianBrandon{width: 55%;}

}
 
@media only screen and (min-width: 481px) and (max-width: 768px) { 
	.menuItem{
		display: none;
	}

	.caseText{
		padding-left:10%;
		padding-right: 10%;
	}
	.Icons{
		margin-left: 25px;
		margin-right: 25px;
	}
	#name{
		float: right;
		padding-right: 2%;
	}
	#signature{
	margin-left: 5%;
	}
		#AdrianBrandon{
		width:45%;
		float: left;
		padding: 20px;
	}
	#WizardofOZ{
		width:45%;
	}
	#BrainstormSketch{
		width:35%;
	}
}
 
@media only screen and ( max-width : 480px)
{
	/*********Div Spacing*****************/
	.menuItem{
		display:none;
		
	}
	#name{
		float: right;
	}

	.teamNames{
	}
	.challengeList{
		line-height: 1.75rem;
	}
	#AdrianBrandon{
		width:55%;
		float: left;
		padding: 15px;
	}
	.leftImage{
		padding:0px;
	}
	#signature{margin-left:5%;
	}
	
}
/* CSS for iPhone, iPad, and Retina Displays */
 
/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}
 
/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}