@charset "utf-8";
/* CSS Document */

/*====Layout====*/
.overviewBlocks {
	text-align: left;
}

.AffinityBlocks {
	width: 25%;
	margin: 15px;
}

#NickMeet {
	width: 100%;
}
.pamphlet1 {
	width: 100%;
	padding-bottom: 40px;
}
.pamphlet1Testing {
	width: 80%;
	padding: 20px;
}

.Personas {
	width: 100%;
	margin: 20px;
	border: dimgray 1px solid;
}

#ActionModel {
	width: 100%;
}

#Afinnity2 {
	width: 100%;
	border: solid black 2px;
}

#FinalInside {
	width: 100%;
	border: black 2px solid;
}

#FinalOutside {
	width: 100%;
	border: solid black 2px;
}
.overViewLists {
	padding-top: 25px;
}
.pamphlet1outside {
	width: 75%;
	padding: 20px;
}

/**Nav**/


/*=========================Page Formating=======================*/
.section{
width: 100%;
overflow: hidden;
padding-top:65px;
text-align:center;
padding:5%;	
}
.sectionContent {
	margin-top: 50px;
	text-align: left;
}
.subCategory {
	text-align: left;
	margin-bottom: 35px;
	margin-top:25px;
	overflow: hidden;
	padding:20px;
	padding-top:0px;
}


.subCategoryblue {
	text-align: left;
	margin-bottom: 35px;
	margin-top:25px;
	overflow: hidden;
	border-left: 2px solid #003468;
	padding:20px;
	padding-top:0px;
}


/*==========Headers and Titles================*/
h2 {
	color: black;
}
h6{
	font-weight: bold;
}
h1 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}
.overviewHeaders {

	font-weight: bold;
    font-size: .8rem;
    text-align: left;
    padding-bottom: 0px;
}
.subHeader {
	text-align: left;
	margin-bottom: 25px;
	margin-top: 15px;
}
.overViewHeader{
	padding-bottom: 50px;
}
.adminListContainer{margin-bottom:
25px; float: left;}
/*============ Text Formatting==============*/

.introHookRemac {
	text-align:center;
margin-left:auto;
margin-right:auto;
color:dimgray;
padding-top:20px;
	font-weight: bolder;
	
}
.overviewText {
	margin-left: 25px;
	font-size: .75rem;
	width: 50%;

}
figcaption {
	font-size: .85rem;
	padding-top: 10px;
	margin: 10px;
	line-height: 1rem;
	font-style: italic;
	text-align: center;
}
.teamNames {
	text-align: left;
    font-size: .75rem;
    margin-bottom: 4px;
}

.undergradNames {
	text-align: left;
	font-size: .75rem;
	margin-left: 25px;
    width: 90%;
}
.challengeList {
	text-align: left;
	margin:auto;
	font-family: "IBM Plex Sans Text";
}
.adminNamesList {
list-style: none;
	font-family:'IBM Plex Sans Text';
	padding: 0px;
	margin-left: 25px;
	width: 200px;
}
/****Section Formatting******/
.Remacintro {
	padding-top: 70px;
	text-align: center;
	padding-bottom: 120px;

}


.overviewContentDivs {
	margin: auto;
	font-size: 1rem;
	text-align: left;
	margin-left: 25px;
	clear: left;
}

/*======Project Images========*/
.rightImage {

	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.leftImage {
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.centerImage {
	text-align: center;
	float: none;
	padding-top: 25px;
	padding-bottom: 25px;
}
#FinalPamphlet {
	width: 100%;
	padding-bottom: 10px;
	border: 5px #182B49 solid;
}

#brainstormSketch{
	width: 100%;
	border: black solid 2px;
		
}
#introImage {
	padding: 20px;
	width: 100%;
	padding-top:170px;
	margin:auto;
	margin-bottom:20px;
}
#BillboardPrototype{
	width: 60%;
}
.billboards{
	width: 75%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
#AffinityMake{
	width: 100%;
}#AffinityMake2{
	width: 100%;
}
#IdeationSession{
	width: 100%;
}
#AffinityDiagram{
	width: 100%;
}
#JapaneseTrain{
	width: 100%;
}
#DataSummary{
	width: 100%;
}
#ObservationSynthesis{
	width: 100%;
}
#BrainstormSketch{
		width: 100%;
}
#Persona{
border: 2px solid black;
		width: 100%;
}
#AdrianBrandon{
		width: 100%;
}
#PrototypeSketch{
		width: 100%;
}
#WizardofOZ{
		width: 80%;
}
/*==========animations==========*/
button:focus,button:active {
   outline: none !important;
   box-shadow: none;
}
.invis {
	-webkit-animation:fade-in 3s infinite alternate;
}
@-webkit-keyframes fade-in{
from{
    opacity:0;
}
to{
    opacity:1;
}
}
/**Page breaks***/
@media  (max-width:480px){
	/*********Div spacing*****************/
	
	.challengeList{
		line-height: 1.75rem;
	}
	#AdrianBrandon{
		width:55%;
		float: left;
		padding: 15px;
	}
	.leftImage{
		padding:0px;
	}
	#introImage{
		width:100%;
		
	}

}
@media only screen and (min-width: 481px) and (max-width: 767px) { 

	.caseText{
		padding-left:10%;
		padding-right: 10%;
	}
	#WizardofOZ{
		width:45%;
	}
	#BrainstormSketch{
		width:35%;
	}
	#introImage{
		width: 80%;
		padding-top:150px;
	}
}
@media all and (min-width: 768px) and (max-width: 1019px) {

	.projectsHeader{
		margin-bottom: 25px;
	}
	.leftImage{
		float:left;
		width: 45%;
	}	
	.rightImage{
		float:right;
		width: 45%;
	}	
	.centerImage{
		width: 85%;
		text-align: center;
		margin: auto;
	}
	#ObservationSynthesis{
		width: 85%;
		margin-top:25px;
	}

	.overviewHeaders{
		display: inline-flex;
		width: 100px;
	}
	.overviewText{
		display: inline-flex;
		margin-left:100px;
		clear: both;
		text-align: left;
	}
	.adminListContainer{
		float: none;
		display: inline-flex;
		margin-left: 100px;
	}
	.adminNamesList{
		margin-left:0px;
		
	}
	.undergradNames{
		display:inline-flex;
		margin-left: 100px;
		width: 50%;
		
	}
	.leftText{
		float: left;
		width: 50%;
	}	
	.rightText{
		float: right;
		width: 50%;
	}
	.rightImage{
		width: 45%;
	}
	#CriticalFactors{
		margin-top:70px;
	}
	#BrainstormSketch{
		width:80%;
		margin-top:45px;
	}

	#introImage{
		width: 75%;
		margin-bottom:20px;
		padding-top:150px;
	}
}

/*desktop*/

@media all and (min-width: 1020px)  {
	.leftImage{
		float:left;
		width: 45%;
	}	
	.rightImage{
		float:right;
		width: 45%;
	}	
	.centerImage{
		width: 85%;
		text-align: center;
		margin: auto;
	}
	#ObservationSynthesis{
		width: 85%;
		margin-top:25px;
	}
		.uxProjects{
			display: none;
	}
	.overviewHeaders{
		display: inline-flex;
		width: 100px;
	}
	.overviewText{
		display: inline-flex;
		margin-left:100px;
		clear: both;
		text-align: left;
	}
	.adminListContainer{
		float: none;
		display: inline-flex;
		margin-left: 100px;
	}
	.adminNamesList{
		margin-left:0px;
		
	}
	.undergradNames{
		display:inline-flex;
		margin-left: 100px;
		width: 50%;
		
	}
	.leftText{
		float: left;
		width: 50%;
	}	
	.rightText{
		float: right;
		width: 50%;
	}
	.rightImage{
		width: 45%;
	}
	#CriticalFactors{
		margin-top:70px;
	}
	#BrainstormSketch{
		width:80%;
		margin-top:45px;
	}
	#AdrianBrandon{width: 55%;}
	#introImage{
		width: 45%;
		padding-top:100px;
	}
}
 /*iPad*/
 

/* CSS for iPhone, iPad, and Retina Displays */
 
/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}
 
/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}






